/* Modern Javascript exercises for variable scope to closure Especially nested functions */
div{
    color: #312115;
    text-align: center;
    background-color: seashell;
    padding: 10px;
    border: solid 1px darkred;
}
